.about {
  width: 100%;
  display: flex;
  background: #68aaa2;
  /* background-size: cover; */
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.2);
}

.about-content {
  margin: 0 15.2em;
  padding: 6.4em 0;
}
