* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Ubuntu", sans-serif;
}

html {
  font-size: 62.5%; /* facilita o cálculo convertendo 1rem ao equivalente a 10px */
}

body {
  background: #070707 url("../img/skyrim-map-.jpg") no-repeat center fixed;
  color: rgb(255, 255, 255);
}

.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.header {
  /* margin: 0 auto; */
  padding: 1.8em 0;
}

.main {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(0, 195, 255, 0.164);
  border-radius: 2%;
  padding: 1em;
}

.titulo {
  text-align: center;
  margin: 0 auto;
  color: #ededed;
  font-size: 7rem;
  font-family: "Dancing Script", cursive;
}

.title-text {
  font-size: 1.5rem;
  padding: 0.6em;
}

.box {
  padding: 1em;
  margin: 1em auto;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  width: 50%;
}

.msg {
  color: #ffffff;
}

.btn {
  width: 49.5%;
  border: none;
  color: white;
  background-color: rgba(2, 136, 129);
  text-transform: uppercase;
  padding: 1em;
  border-radius: 0.5em;
  /* transition: 1s background; -- transição apenas no background */
  transition: 1s all; /*transição em todos os elementos*/
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(6, 112, 107);
  transform: scale(0.99);
}

.text-area {
  border-radius: 0.5em;
  border: 1px solid rgba(2, 136, 129, 0.3);
  display: block;
  margin: 1em 0;
  padding: 0.5em;
  width: 100%;
  height: 20vh;
}

/*Responsividade*/

@media screen and (max-width: 720px) {
  .titulo {
    font-size: 4rem;
  }

  .main {
    width: 90%;
    padding: 0.1em;
  }

  .box {
    width: 90%;
  }

  .btn {
    width: 100%;
    margin-bottom: 0.5em;
  }

  .btn:last-child {
    margin-bottom: 0;
  }
}
