.formation__list {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

@media (max-width:560px) {
  .formation__list {
    flex-direction: column;        
}}
