.formation__item {
  /* flex: 1 1 20%; */
}

.formation__item-card {
  /* background: #ffffff; */
  background: rgba(237, 237, 237, 0.5);
  margin: 0.5em;
  padding: 2em;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 4%;
}
