.contact__form {
  display: flex;
  flex-direction: column;
  background: rgba(237, 237, 237, 0.5);
  margin: 1em;
  margin-right: 0;
  padding: 0.4em 1em;
  border-radius: 0.4em;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1160px) {
  .contact__form {
    /* margin: 4em 0.2em; */
    padding: 2em;
  }
}

@media (max-width: 768px) {
  .contact__form {
    margin: 4em 0.2em;
    padding: 4em;
  }
}
